body, a, p, div{
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400px;
	margin: 0;
	padding: 0;
	width: 100%;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
}

header{
    background-color: rgb(237, 245, 215);
    font-family: 'Sriracha', cursive;
	font-size: 30px;
	font-weight: 400; 
	width: 100%;
    padding: 15px 30px 10px 40px;
    display: flex;
}

.name{
    width: 80%;
}

.our_society{
    margin-top: 7px;
}

.item{
	margin-left: 30px;
	text-align: center;
	float: right;
}

.our_society img{
	width: 50px;
	height: 40px;
}